body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.Logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}

.body {
    display: flex;
    justify-content: space-around;
}

.information {
    display: flex;
    flex-direction: column ;
    width: 300px;
}

.upper-button {
    align-self: flex-start;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxhead {
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex; 
    justify-content: center;
    gap: 200px;
}

.middle-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bluebox {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.boxtext {
    display: flex;
    flex-direction: column;
}

.lower-button {
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
}