body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.upper {
    padding-bottom: 100px;
    background-color: #1F2937;
}

.header {
    display: flex;
    gap: 500px;
    margin: 20px;
    margin-bottom: 100px;
}

.Logo {
    font-size: 24px;
    margin-left: 190px;
    color: white;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
    color: #9e9e9e;;
}

.body {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.information {
    display: flex;
    flex-direction: column ;
    width: 400px;
    justify-content: center;
    color: white;
}

.info-head {
    font-size: 48px;
    font-weight: 900;
}

.info-body {
    font-size: 18px;
}

.upper-button {
    align-self: flex-start;
    border:0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90px;
    height: 30px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 100px 160px;
    background-color:#E5E7EB;
}
.boxhead {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding: 40px;
}

.boxes {
    display: flex; 
    justify-content: center;
    gap: 40px;
    padding-bottom: 80px;
}

.boxbox {
    display: flex;
    flex-direction: column;
}

.box {
    padding: 80px;
    border: #3882F6;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
}

.boxtext{
    width: 200px;
    font-size: 18px;
    text-align: center;
}

.middle-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color:#E5E7EB;;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 700px;
    color: rgb(61, 61, 61);
}

.credit {
    padding-left: 500px;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size: 24px;
}

.bluebox {
    display: flex;
    justify-content: center;
    gap: 200px;
    width:fit-content;
    padding: 30px;
    border:#3882F6;
    border-style: solid;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 900px;
    border-radius: 10px;
    background-color: #3882F6;
}

.boxfont {
    display: flex;
    flex-direction: column;
}

.lower-button {
    align-self: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.fonthead {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.fontbody{
    font-size: 18px;
    color:white;
}
.footer {
    display: flex;
    justify-content: center;
    background-color:#1F2937;
    padding: 20px;
    color: white;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}